body {
	background: #C0C0C0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	letter-spacing: 1px;
	margin: 0;
}

form {
	float: right;
	padding: 0 50px;
	width: 250px;
}

input, textarea {
	line-height: 20px;
	margin: 10px 0;
	width: 100%;
	max-width: 100%;
}

.form-container {
	float: left;
	width: 50%;
}

.form-message-container {
	float: right;
	height: 60px;
	padding: 30px 50px 10px 50px;
	width: 250px;
}

.message-container {
	float: left;
	padding-top: 40px;
	width: 50%;
}

.php-info-div {
	margin: auto;
	margin-top: 30px;
	width: 250px;
}

.submit-btn {
	background-color: #FF4500;
	color: #FFF;
	letter-spacing: 2px;
	padding: 4px 0;
	width: 100px;
}

.success-message {
	color: #5CB85C;
}

.text-center {
	text-align: center;
}

.user-message {
	background-color: #5CB85C;
	border-radius: 15px;
	color: #FFF;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 0 0 20px 50px;
	padding: 20px;
	width: fit-content;
	max-width: 250px;
}

.user-name {
	color: #555;
	margin: 0 15px;
	padding: 5px 50px;
}

.warning-message {
	color: #FF4500;
}

@media screen and (max-width: 800px) {
	form {
		float: none;
		margin: auto;
	}
	
	.form-container, .message-container, .form-message-container {
		float: none;
		margin: auto;
	}

	.form-container, .message-container {
		width: 100%;
	}

	.user-name {
		text-align: center;
	}

	.user-message {
		font-size: 16px;
		margin: auto;
		margin-bottom: 20px;
	}

  }